[Desktop Entry]
Name=CoreTime
Comment=CoreTime is a time related task app from CoreApps.
Exec=coretime
Icon=/usr/share/icons/CoreApps/CoreTime.svg
Type=Application
Categories=Qt;Utility;
Terminal=false
StartupNotify=true
